.Rproj.user
.Rhistory
*.html
!header.html
*.tex
!header.tex
n2khab_data/
hashes.csv
.~lock*
*.Rcheck/
*.tar.gz
.httr-oauth
src/**/*.md
!src/miscellaneous/README.md
_book*
!_bookdown.yml
src/private_code.R
*.gpkg*
*.qgs
*.bak
*.qgz
grass_*/
watercourse_segments/
*/update_shallowgroundwater/data/
**/images/
